:root{
    --fontParrafos: 'Open Sans', sans-serif;
    --fontHeading: 'PT Sans', sans-serif;

    --Primario: #784D3C;
    --Blanco: #fff;
    --Negro: #000;
    --Gris: #d1d1d1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: var(--fontParrafos);
    line-height: 2;
    font-size: 1.6rem;
}

/* Globales */
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fontHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

/* Utiledades */
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* HEADER */
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__texto{
    color: var(--Blanco);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 580px) {
    .header__texto{
        margin-top: 20rem;
    }
    
}

/* NAVEGACION */
.logo{
    color: var(--Blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.barra{
    padding-top: 2rem;
}

@media (min-width: 580px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        gap: 2rem;
        display: flex;
    }
    .navegacion__enlace{
        margin-right: 2rem;
    }

    .navegacion__enlace:last-of-type{
        margin-right: 0;
    }
}

.navegacion__enlace{
    display: block;
    color: var(--Blanco);
    font-size: 1.8rem;
    text-align: center;
}

/* CONTENIDO PRINCIPAL INDEX */
@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--Gris);
    margin-bottom: 2rem;
}

.entrada:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    padding: 1rem 3rem;
    font-family: var(--fontHeading);
    color: var(--Blanco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}


@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

.boton--primario{
    background-color: var(--Negro);
}

.boton--primario:hover{
    background-color: #222;
}

.boton--secundario{
    background-color: var(--Primario);
}

.boton--secundario:hover{
    background-color: #663c2d;
}

/* ASIDE BAR INDEX */
.widget-curso{
    border-bottom: 1px solid var(--Gris);
    margin-bottom: 2rem;
}

.widget-curso:last-child{
    border: none;
    margin: none;

}

.widget-curso__label{
    font-family: var(--fontHeading);
    font-weight: 700;
    font-size: 2rem;
}

.widget-curso__info{
    font-weight: 400;
}

/* FOOTER */
.footer{
    height: auto;
    background-color: var(--Negro);
    display: flex;
    align-items: center;
    padding: 3rem 0;
    margin-top: 4rem;
}

@media (min-width: 580px) {
    .footer{
        height: 10rem;
    }
}

.footer .logo__nombre{
    font-size: 3rem;
}

.footer .navegacion__enlace{
    font-size: 1.5rem;
}
/********************************************** ESTILOS DE PAGINAS QUE NO SON INDEX *********************************************************/

/* SOBRE NOSOTROS STYLES */

@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* CURSOS STYLES */

@media (min-width: 768px) {
    .cursos{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }

    .curso__informacion{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-flow: column;
        grid-column-gap: 2rem;
    }
}
.curso__informacion{
    padding: 3rem 0;
    border-bottom: 1px solid var(--Gris);
}

.curso__informacion:last-child{
    border-bottom: none;
    padding: 3rem 0 0 0;
}

.curso__label{
    margin: 2rem 0 0 0;
    font-family: var(--fontHeading);
    font-weight: 700;
    font-size: 2rem;
}

.curso__label:nth-of-type(2){
    margin: 0;
}

.curso__info{
    font-weight: 400;
}

/** CONTACTO STYLES **/
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.formulario{
    background-color: var(--Blanco);
    margin: -20rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo{
    margin-top: 1rem;
}

.campo__field{
    padding: 1rem;
    width: 100%;
}


@media (min-width: 768px) {    
    .formulario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .campo{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .campo--mail,
    .campo--textArea{
        grid-column: 1 / 3;
    }

    .campo__label{
        flex: 0 0 9rem;
        text-align: right;
    }
    
    .campo__field{
        flex: 1;
        border: 1px solid var(--Gris);
    }
    
    .campo__field--textArea{
        height: 20rem;
    }
}
