:root{
    --fontParrafos: 'Open Sans', sans-serif;
    --fontHeading: 'PT Sans', sans-serif;

    --Primario: #784D3C;
    --Blanco: #fff;
    --Negro: #000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: var(--fontParrafos);
    line-height: 2;
    font-size: 1.6rem;
}

/* Globales */
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fontHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

/* Utiledades */
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* HEADER */
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__texto{
    color: var(--Blanco);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 580px) {
    .header__texto{
        margin-top: 20rem;
    }
    
}

/* NAVEGACION */
.logo{
    color: var(--Blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.barra{
    padding-top: 2rem;
}

@media (min-width: 580px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        gap: 2rem;
        display: flex;
    }
    .navegacion__enlace{
        margin-right: 2rem;
    }

    .navegacion__enlace:last-of-type{
        margin-right: 0;
    }
}

.navegacion__enlace{
    display: block;
    color: var(--Blanco);
    font-size: 1.8rem;
    text-align: center;
}

/* CONTENIDO PRINCIPAL INDEX */
@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 2rem;
}

.entrada:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    padding: 1rem 3rem;
    font-family: var(--fontHeading);
    color: var(--Blanco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}


@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

.boton--primario{
    background-color: var(--Negro);
}

.boton--secundario{
    background-color: var(--Primario);
}

/* ASIDE BAR INDEX */
.widget-curso{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 2rem;
}

.widget-curso:last-child{
    border: none;
    margin: none;

}

.widget-curso__label{
    font-family: var(--fontHeading);
    font-weight: 700;
    font-size: 2rem;
}

.widget-curso__info{
    font-weight: 400;
}

/* FOOTER */
.footer{
    height: auto;
    background-color: var(--Negro);
    display: flex;
    align-items: center;
    padding: 3rem 0;
    margin-top: 4rem;
}

@media (min-width: 580px) {
    .footer{
        height: 10rem;
    }
}

.footer .logo__nombre{
    font-size: 3rem;
}

.footer .navegacion__enlace{
    font-size: 1.5rem;
}

/* SOBRE NOSOTROS STYLES */
@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
